.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--gray-100);
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}